DB_HOST=localhost
DB_PORT=5432
DB_NAME=crm_music_school
DB_USER=postgres
DB_PASSWORD=your_password_here
JWT_SECRET_KEY=generate-random-string-here
FIRST_ADMIN_EMAIL=admin@crm.com
FIRST_ADMIN_PASSWORD=afmin12345

DEBUG=true
